<div class="container vh-100">
  <div class="col">
    <div class="row sticky-top pt-3">
      <div class="col-4">
        <span>오늘의 날씨: {{ conditions$ | async }}</span>
      </div>
      <div class="col">
        <h1>{{ date | date: "MM/dd (E)" }}</h1>
      </div>
    </div>
    <hr />
    <div class="col overflow-auto p-0">
      <app-todo
        [todo]="todo"
        *ngFor="let todo of todoList$ | async"
        (remove)="handleRemove($event)"
        (update)="handleUpdate($event)"
      ></app-todo>
    </div>
    <div class="row pt-5">
      <form (ngSubmit)="submit()">
        <input
          type="text"
          class="form-control fixed-bottom"
          placeholder="할 일을 입력해주세요"
          [(ngModel)]="text"
          name="todoText"
        />
      </form>
    </div>
  </div>
</div>
